body {
	background: gray;
}

.bg-primary {
	background: #009688 !important;
}

.navbar-collapse {
	justify-content: end;
}



.home-banner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
		url("../images/contact.jpg");
	background-size: cover;
	color: white;
}

.my-card {
	background: white;
	padding: 20px;
	border-radius: 50px;
}

.get-start-btn{
	text-decoration: none;
    background: #19ad7b;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
}

.get-start-btn:hover{
	color: yellow;
}

#login {
	margin-top: 100px;
}

#login-box {
	max-width: 480px;
	background: white;
	padding: 20px;
	border-radius: 10px;
}

.form-group {
	margin-bottom: 5px;
}

/* side-bar css */
@media only screen and (max-width:600px) {
	.sidebar {
		display: none;
		width: 50% !important;
		background: white;
		height: 100%;
		position: fixed;
		padding-top: 20%;
	}
	.contant {
		margin-left: 0% !important;
	}
	.card {
		width: 85%;
	}
}

@media screen and (min-device-width: 601px) and (max-device-width:
	768px) {
	.card {
		margin: auto;
		width: 92%;
	}
}

.sidebar {
	width: 20%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 9999999;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover {
	background: #e2e2e2;
}

.item .fa-solid {
	margin-right: 5px;
}

.sidebar .close-btn {
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 30px;
	cursor: pointer;
}

/* contant css */
.contant {
	margin-left: 22%;
}

.contacts_profile_picture {
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 50%;
}

/* search css */
.search-container {
	position: relative;
}

.search-result {
	position: absolute;
	background: #e2e2e2;
	width: 100%;
	padding: 10px;
	display: none;
}


.active{
	
	background: #009688 !important;
	color: white!important;
}