<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		<div class="containet bg-white">
			<div class="conent col-md-10 offset-1">
				<h1>About the Smart Contact Manager App</h1>
				<p>Welcome to the Smart Contact Manager App, your ultimate
					solution for efficient contact management. Whether you're managing
					personal relationships or professional connections, our app
					empowers you to organize, update, and utilize your contacts with
					ease.</p>

				<h4>What is Smart Contact Manager?</h4>
				<p>The Smart Contact Manager App is a user-friendly tool
					designed to simplify the way you manage your contacts. It allows
					you to effortlessly add new contacts, update existing information,
					and maintain a centralized database of all your important
					connections.</p>

				<h4>Key Features</h4>
				<p>
					<span style="font-weight: bold;">Add and Modify Contacts:</span>
					Easily add new contacts by entering essential details such as name,
					phone number, email address, and more. Update contact information
					as needed to ensure accuracy and relevance. <br>
					<br />
					<span style="font-weight: bold;"></span> <span
						style="font-weight: bold;">Organize Your Contacts:</span> Group
					contacts into categories or tags for better organization. This
					feature helps you segment contacts based on relationships,
					projects, or any other criteria that suit your needs. <br />
					<br /> <span style="font-weight: bold;">Search and Filter:</span>
					Quickly find specific contacts using powerful search and filtering
					options. Search by name, organization, or any custom fields you've
					set up to locate contacts instantly. <br />
					<br /> <span style="font-weight: bold;">Integration and
						Accessibility:</span> Seamlessly integrate with other tools and platforms
					for enhanced productivity. Access your contacts from multiple
					devices, ensuring you have critical information at your fingertips
					wherever you go.
				</p>

				<h4>Why Choose Smart Contact Manager?</h4>
				<p>Our app is designed to streamline contact management, enhance
					productivity, and improve communication efficiency. Whether you're
					a busy professional or an individual managing personal connections,
					the Smart Contact Manager App is tailored to meet your needs
					effectively. Explore the Smart Contact Manager App today and
					discover how easy it is to stay organized and connected with your
					network. Simplify your life with smart contact management solutions
					that work for you.</p>
	</section>



</body>
</html>