<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>change password</title>


</head>
<body>

	<section>
		<div id="login">
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-4">
						<div id="login-box" class="col-md-12">
						      
						         <h3 class="text-center m-3">Enter new password</h3>                       
							   
							   <form th:action="@{/change-password}" method="post">
							   		
							   		<div class="form-group mb-3">
							   			 <input required type="text" name="newpassword" class="form-control" placeholder="Enter New password here">
							   			 
							   		</div>
							   		
							   		<div class="container text-center mb-3">
							   		   <button class="btn btn-primary">save</button>
							   		</div>
							   		
							   </form>
							   
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



</body>
</html>